/* TODO: add any application specific styling here */
.myapp-readview-image,
#myapp-editviewForm img,
#myapp-addviewForm img {
    width: 100%;
}

#myapp-maproot {
    width: 100%;
    height: 100%;
}

.myapp-marker-popup {
    /* width: 301px; */
}

.myapp-marker-popup img {
    /* width: 100%;
    display: block; */
}

#myapp-editviewForm mwf-imgbutton.mwf-img-camera {
    filter: invert(30%);
}

.myapp-readview-maproot {
    width: 100%;
    height: 250px;
}

.myapp-readview-maproot .leaflet-tile {
    width: 256px !important;
    height: 256px !important;
}

.myapp-color-primary {
    /* color: darkcyan;*/
    filter: hue-rotate(90deg);
}